#title {
    background: rgb(230, 121, 32);
    color: #fff;
    text-align: center;
}

.navigation {
    width: inherit;
	margin: auto auto;
	z-index: 3;
	position: relative;
}

.menu {
    display: flex;
	font-family: 'Arial';
	text-align: center;
}

.menu li, .menu li u {
    list-style:none;
	margin: 0px;
}

.menu li {
	position: relative;
}

.menu > li {
    float: left;
	flex-grow: 1;
}

.menu li a {
	text-decoration:none;
    color: #fff;
	background: #0e63aa;
    display: block;
    border: 1px solid;
	padding: 13px 18px;
	font-size: 1.3em;
	border: none;
	margin: 0px;
}

.menu li a:hover {
	color: rgba(255, 255, 255, 0.5);
	transition: all .3s;
}

/* Submenu de cualquier nivel */
.menu li ul {
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
    position: absolute;
	width: 100%;
	text-align: left;
	font-size: 0.9em;
}

.menu li:hover > ul {
    visibility: visible;
	opacity: 1;
}
